@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
// Scroll Bar
::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-thumb {
  background-color: $blueBell;
  border-radius: 0.625rem;
  border: 3px solid $blueBell;
}
body {
  margin: 0;

  // overflow: hidden;
  padding: 0;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  background-color: $jet;
  color: $blueBell;
}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: $blueBell;
}
// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
  &-ai-flxstrt {
    align-items: flex-start;
  }
  &-dir-col {
    flex-direction: column;
  }
}

// Main
main {
  display: block;
  margin: 0px auto;
  max-width: 100rem;
  min-height: 100vh;
}

// Section
section {
  cursor: pointer;
  margin: 0px auto;
  max-width: 62.5rem;
  padding: 100px 0px;
}
// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
