@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
  padding: 0;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  color: $richBlack;
}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: $richBlack;
}
// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}
// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
