.header {
  nav {
    padding: 1.3rem 3.5rem;
  }
  &__logo {
    margin-left: -0.9375rem;
    > img {
      height: 3.125rem;
    }
  }

  &__menu {
    > span {
      display: block;
      width: 34px;
      height: 4px;
      background-color: $blueBell;
      transition: all 0.3s ease-in-out;
      transform-origin: 5.7px 2.5px;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }

    &:hover {
      > span:first-child {
        transform: rotate(0deg) translateY(-3px) translateX(0);
        -webkit-transform: rotate(0deg) translateY(-3px) translateX(0);
      }
      > span:nth-child(2) {
        transform: translate(20%);
        -webkit-transform: translate(20%);
      }
      > span:last-child {
        transform: rotate(0deg) translateY(3px) translateX(0);
        -webkit-transform: rotate(0deg) translateY(3px) translateX(0);
      }
    }
  }
  &__links {
    a {
      position: relative;
      font-size: $font-med;
      margin-right: 40px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 4px;
        left: 0;
        right: 0;
        bottom: -15px;
        background: $blueBell;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }
      &:hover {
        color: $blueBell;
        transition: color 300ms ease-in-out;
        &::before {
          opacity: 1;
        }
      }
    }
  }

  //Hamburger when active styles
  &.is-active {
    .header__menu {
      > span:first-child {
        // opacity: 0;
        // transform: translateX(-100%);
        transform: rotate(45deg) translateY(0) translateX(0);
        -webkit-transform: rotate(45deg) translateY(0) translateX(0);
      }
      > span:nth-child(2) {
        opacity: 0;
        transform: translate(100%);
        -webkit-transform: translate(100%);
      }
      > span:last-child {
        // opacity: 0;
        // transform: translateX(100%);
        transform: rotate(-45deg) translateY(0) translateX(0);
        -webkit-transform: rotate(-45deg) translateY(0) translateX(0);
      }
    }

    //overlay
    .overlay {
      background-image: linear-gradient($blueBell, transparent);
      position: fixed;
      top: 6rem;
      right: 0rem;
      bottom: 0rem;
      left: 0rem;
    }
  }
}
