.header {
  nav {
    padding: 1.0625rem 1.5rem;
  }
  &__logo {
    margin-left: 20px;
    > img {
      height: 2.8125rem;
    }
  }

  &__menu {
    > span {
      display: block;
      width: 35px;
      height: 4px;
      background-color: $blueBell;

      &:not(:last-child) {
        margin-bottom: 4px;
      }

      &.line {
        transition: all 0.3s ease-in-out;
      }
    }

    &.is-active {
      > span:first-child {
        opacity: 0;
        transform: translateX(-100%);
      }
      > span:nth-child(2) {
      }
      > span:last-child {
        opacity: 0;
        transform: translateX(100%);
      }
    }
  }

  &__links {
    a {
      position: relative;
      font-size: $font-med;
      margin-right: 40px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 4px;
        left: 0;
        right: 0;
        bottom: -15px;
        background: $blueBell;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }
      &:hover {
        color: $blueBell;
        transition: color 300ms ease-in-out;
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
