.intro {
  height: 100vh;
  .main-heading {
    margin: 0px;
    font-size: clamp($font-heading, 8vw, 4rem);
  }
  h1 {
    font-weight: 400;
    color: $ghostWhite;
  }

  h2 {
    margin: 0px;
    font-size: clamp(1rem, 5vw, 1.25rem);
    color: $peach;
  }
  h3 {
    margin: 0px;
    font-size: clamp(1.7rem, 8vw, 3.7rem);
    color: $blueBell;
    p {
      display: inline;
    }
    strong {
      color: $peach;
      transition: all 200ms ease-in-out;
      &:hover {
        cursor: pointer;
        transition: all 200ms ease-in-out;
      }
    }
  }
  &__desc {
    font-size: clamp($font-xxs, 8vw, $font-med);
    text-decoration: none;
  }
  #course {
    color: $peach;
    text-decoration: underline;
  }
}
