// Colors
$ghostWhite: #fbf9ff;
$richBlack: #000807;
$jet: #303a52;
$blueBell: #9395d3;
$darkPink: #9e579d;
$peach: #fc85ae;

// Font Sizes
$font-xxs: 0.75rem;
$font-xs: 0.8125rem;
$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-lg: 1.5rem;
$font-heading: 2rem;
$nav-height: 4.4rem;
